<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <title>Creditos</title>
</head>

<body>
    <div>
        <ul class="nav nav-pildoras">
            <Li><button type="button" class="btn btn-default">
                    <p class="lead"><a href="{% url 'app1:home' %}" id="link1">Home</a></p>
                </button> </li>
            <Li> <button type="button" class="btn btn-default">
                    <p class="lead"><a href="{% url 'app1:estudiantes' %}" id="link2">Estudiantes</a> </p>
                </button></li>
            <Li> <button type="button" class="btn btn-default">
                    <p class="lead"> <a href="{% url 'app1:administradores' %}" id="link3">Administradores</a></p>
                </button></li>
            <Li> <button type="button" class="btn btn-default">
                    <p class="lead"> <a href="{% url 'app1:info' %}" id="link4">Acerca de</a></p>
                </button> </li>
            <Li> <button type="button" class="btn btn-default">
                    <p class="lead"> <a href="{% url 'app1:creditos' %}" id="link4">Creditos</a></p>
                </button></li>
        </Ul>
        <h1>Creditos</h1>
        <h2>Nombre: Erik Pérez</h2>

</body>

</html>