<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Informacion de la pagina</title>
</head>
<body>
    <button type="button" class="btn btn-outline-success"> <p class="lead"><a href="{% url 'app1:index' %}">Regresar a inicio</a> </p></button>
    <br><br><br><h1> . . .</h1>
</body>
</html>