{% extends 'base_2.html' %}
{%block titulo%} Estudiantes {% endblock%}

{%block Datos_uno%} Información{% endblock%}

{%block titulo_uno%} <strong>Tabla 1.</strong> {% endblock%}

{%block Texto_uno%} 
<strong>Bienvenido a la tabla de Estudiantes</strong>
<div class="table-responsive">
    <div class="container-fluid">
        <table class="table table-hover table-bordered table-sm">
            <tbody>
                <tr>
                    <th class="tablas">Nombre</th>
                    <th class="tablas">Apellido</th>
                    <th class="tablas">Clave</th>
                    <th class="tablas">celular</th>
                    <th class="tablas">Direccion</th>
                    <th class="tablas">Correo</th>
                    <th class="tablas">Facebook</th>
                    <th class="tablas">Instagram</th>
                    <th class="tablas">twitter</th>
                </tr>
                <tr>
                    <td class="contenido">Carlos</td>
                    <td class="contenido">Pérez</td>
                    <td class="contenido">1</td>
                    <td class="contenido">12312312</td>
                    <td class="contenido">San Marcos</td>
                    <td class="contenido">Correo@gmail.com</td>
                    <td class="contenido">Facebook</td>
                    <td class="contenido">Instagram</td>
                    <td class="contenido">twitter</td>
                </tr>
                <tr>
                    <td class="contenido">Rosa</td>
                    <td class="contenido">López</td>
                    <td class="contenido">2</td>
                    <td class="contenido">12312312</td>
                    <td class="contenido">San Marcos</td>
                    <td class="contenido">Correo@gmail.com</td>
                    <td class="contenido">Facebook</td>
                    <td class="contenido">Instagram</td>
                    <td class="contenido">twitter</td>
                </tr>
                <tr>
                    <td class="contenido">Valeria</td>
                    <td class="contenido">Morales</td>
                    <td class="contenido">3</td>
                    <td class="contenido">12312312</td>
                    <td class="contenido">San Marcos</td>
                    <td class="contenido">Correo@gmail.com</td>
                    <td class="contenido">Facebook</td>
                    <td class="contenido">Instagram</td>
                    <td class="contenido">twitter</td>
                </tr>
                <tr>
                    <td class="contenido">Jack</td>
                    <td class="contenido">Richer</td>
                    <td class="contenido">4</td>
                    <td class="contenido">12312312</td>
                    <td class="contenido">San Marcos</td>
                    <td class="contenido">Correo@gmail.com</td>
                    <td class="contenido">Facebook</td>
                    <td class="contenido">Instagram</td>
                    <td class="contenido">twitter</td>
                </tr>
                <tr>
                    <td class="contenido">Frank</td>
                    <td class="contenido">Escalante</td>
                    <td class="contenido">5</td>
                    <td class="contenido">12312312</td>
                    <td class="contenido">San Marcos</td>
                    <td class="contenido">Correo@gmail.com</td>
                    <td class="contenido">Facebook</td>
                    <td class="contenido">Instagram</td>
                    <td class="contenido">twitter</td>
                </tr>
                <tr>
                    <td class="contenido">Esteban</td>
                    <td class="contenido">Juarez</td>
                    <td class="contenido">6</td>
                    <td class="contenido">12312312</td>
                    <td class="contenido">San Marcos</td>
                    <td class="contenido">Correo@gmail.com</td>
                    <td class="contenido">Facebook</td>
                    <td class="contenido">Instagram</td>
                    <td class="contenido">twitter</td>
                </tr>
            </tbody>                
        </table>
    </div>            
{% endblock%}

