{% extends 'base_2.html' %}
{%block titulo%} Administradores {% endblock%}

{%block titulo_uno%} <strong>Ver listado de administradores</strong> {% endblock%}
{%block Datos_uno%} Datos de Administradores {% endblock%}

{%block Texto_uno%} 
<strong>Bienvenido a la tabla de Administradores</strong>
<div class="table-responsive">
    <div class="container-fluid">
        <table class="table table-hover table-bordered table-sm">
            <tbody>
                <tr>
                    <th class="tablas">Nombre</th>
                    <th class="tablas">Apellido</th>
                    <th class="tablas">Teléfono</th>
                    
                    
                </tr>
                {% for est in object_list %}
                <tr>
                    <td class="contenido">{{ est.nombre }}</td>
                    <td class="contenido">{{ est.apellido }}</td>
                    <td class="contenido">{{ est.telefono }}</td>
                   
                    
                </tr>
                {% endfor %}
            </tbody>                
        </table>
    </div>            
{% endblock%}
